<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>व्यवसायको स्थिति</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div text-center *ngIf="loading">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <ion-searchbar [placeholder]="'व्यवसायको टोकन'" (ionInput)="searchToken($event)" [(ngModel)]="tokenNumber"></ion-searchbar>
  <div class="search-padding">
    <button ion-button color="site-color-blue" (click)="logForm(tokenNumber)" full type="submit">व्यवसायको स्थिति हेर्नुहोस </button>
  </div>
  <ion-list *ngIf="showToken">
    <ion-list-header style="text-align:center;" *ngIf="tokens.length!=0">
      हालै खोजिएका टोकनहरु l
    </ion-list-header>
    <button ion-item *ngFor="let token of tokens" (click)="takeToken(token)">
      {{ token }}
    </button>
  </ion-list>
  <div *ngIf="tradeDetails">
    <ion-segment [(ngModel)]="tradeD">
      <ion-segment-button value="tradeDetails">
        विवरण
      </ion-segment-button>
      <ion-segment-button value="tradeHistory">
        हिस्ट्री
      </ion-segment-button>
      <ion-segment-button value="tradeInfo">
        नविकरण तथा प्रतिलिपि
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tradeD">
    <ion-list *ngSwitchCase="'tradeDetails'">
      <ion-item *ngIf="tradeDetails" class="trade_details" text-wrap>
        <div class="header">
          <h1>{{tradeDetails['firmNameNepali']}}</h1>
          <p>दर्ता नं.:&nbsp;&nbsp;{{tradeDetails['registrationNumber']}}</p>
        </div>
        <p>
          <b>व्यवसायीको नाम:&nbsp;&nbsp;</b> {{tradeDetails['ownerNameNepali']}}</p>
        <p>
          <b>व्यवसायीको बुवाको नाम:&nbsp;&nbsp;</b> {{tradeDetails['fatherNameNepali']}}</p>
        <p>
          <b>व्यवसायीको हजुरबुवाको नाम:&nbsp;&nbsp;</b> {{tradeDetails['grandFatherNameNepali']}}</p>
        <p>
          <b>हालको पूंजी:&nbsp;&nbsp;</b>Nrs {{tradeDetails['currentCapital']}}</p>
        <p>
          <b>स्थिर पूंजी:&nbsp;&nbsp;</b>Nrs {{tradeDetails['steadyCapital']}}</p>
        <p>
          <b>व्यवसायीको मोबाइल नम्बर:&nbsp;&nbsp;</b> {{tradeDetails['applicantMobileNo']}} </p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'tradeHistory'" class="table-item">
      <ion-item *ngIf="tradeHistory">
        <ion-grid class="ionic-grid">
          <ion-row class="row-header">
            <ion-col col-4 text-wrap>
              <div class="col-header">मिति</div>
            </ion-col>
            <ion-col col-4 text-wrap>
              <div class="col-header">अधिकारी</div>
            </ion-col>
            <ion-col col-4 text-wrap>
              <div class="col-header">स्टाटस</div>
            </ion-col>
          </ion-row>
          <ion-row class="row-data" *ngFor="let history of tradeHistory">
            <ion-col col-4 text-wrap>{{history.createdDate}}</ion-col>
            <ion-col col-4 text-wrap>{{history.author}}</ion-col>
            <ion-col col-4 text-wrap><span *ngIf="history['status']=='REGISTERED'">दर्ता गरिएको </span><span *ngIf="history['status']=='VERIFIED'">प्रमाणित गरिएको </span><span *ngIf="history['status']=='RENEWED'">नविकरण गरिएको </span><span *ngIf="history['status']=='DRAFT'">दिवेदन दर्ता गरिएको </span><span *ngIf="history['status']=='RECOMMENDED'">सिफारीस  गरिएको </span><span *ngIf="history['status']=='CERTIFICATE_COPY'">प्रमाणपत्र प्रतिलिपी लगेको </span><span *ngIf="history['status']=='SUSPENDED'">व्यवसाय suspend  गरिएको </span><span *ngIf="history['status']=='UNSUSPENDED'">व्यवसाय पुन: सुचारु गरिएको </span></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'tradeInfo'" class="table-item">
      <ion-item>
        <ion-grid class="ionic-grid">
          <ion-row class="row-header">
            <ion-col col-2 text-wrap>
              <div class="col-header">
                बिल नं.
              </div>
            </ion-col>
            <ion-col col-2 text-wrap>
              <div class="col-header">मिति</div>
            </ion-col>
            <ion-col col-2 text-wrap>
              <div class="col-header">मान्य मिति</div>
            </ion-col>
            <ion-col col-2 text-wrap>
              <div class="col-header">दस्तुर</div>
            </ion-col>
            <ion-col col-4 text-wrap>
              <div class="col-header">प्रमाणित गर्ने</div>
            </ion-col>
          </ion-row>
          <ion-row class="row-data" *ngFor="let data of tradeRenewals">
            <ion-col col-2 text-wrap>{{data.billNo}}</ion-col>
            <ion-col col-2 text-wrap>{{data.renewDate}}</ion-col>
            <ion-col col-2 text-wrap>{{data.renewUpto}}</ion-col>
            <ion-col col-2 text-wrap>{{data.renewCharge}}</ion-col>
            <ion-col col-4 text-wrap>{{data.renewBy}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>