<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>प्रतिक्रिया/सम्पर्क</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="field field-name-field-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <div class="field-item even">
        <p>Address :- Shaniarjun Municipality Office, Shanischare, Jhapa</p>
        <p>Contact No: 023465503, 023466502</p>
        <p>Fax :- 023465544</p>
        <p>Email :-
          <a href="mailto:saniarjunmunicipality@gmail.com">saniarjunmunicipality@gmail.com</a>
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>

</ion-content>