<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 class="ui-block">
        <div class="ui-block-inner" (click)="openWebsite()">
          <div class="ui-block-icon">
            <ion-icon name="globe"></ion-icon>
          </div>
          <div class="ui-block-text">
            <p>वेव साईटको लिंक </p>
            <span>वेव साईटको लिंक </span>
          </div>
        </div>
      </ion-col>
      <ion-col col-6 class="ui-block">
        <div class="ui-block-inner" (click)="goManagementPage()">
          <div class="ui-block-icon">
            <ion-icon name="paper"></ion-icon>
          </div>
          <div class="ui-block-text">
            <p>व्यवसाय व्यवस्थापन</p>
            <span>व्यवसाय व्यवस्थापन</span>
          </div>
        </div>
      </ion-col>
      <ion-col col-6 class="ui-block">
        <div class="ui-block-inner" (click)="notices()">
          <div class="ui-block-icon">
            <ion-icon name="notifications"></ion-icon>
          </div>
          <div class="ui-block-text">
            <p>सुचनाहरु </p>
            <span>सुचनाहरु</span>
          </div>
        </div>
      </ion-col>
      <ion-col col-6 class="ui-block">
        <div class="ui-block-inner" (click)="frequentlyAskedQuestions()">
          <div class="ui-block-icon">
            <ion-icon name="chatbubbles"></ion-icon>
          </div>
          <div class="ui-block-text">
            <p>FAQ</p>
            <span>बारम्बार सोधिने प्रश्नहरु</span>
          </div>
        </div>
      </ion-col>
      <ion-col col-6 class="ui-block">
        <div class="ui-block-inner" (click)="feedBack()">
          <div class="ui-block-icon">
            <ion-icon name="contacts"></ion-icon>
          </div>
          <div class="ui-block-text">
            <p>प्रतिक्रिया/सम्पर्क </p>
            <span>सल्लाह सुझाव पठाउनुहोस् </span>
          </div>
        </div>
      </ion-col>
      <ion-col col-6 class="ui-block">
        <div class="ui-block-inner">
          <div class="social-icon">
            <button ion-fab>
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button ion-fab>
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-fab>
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </div>
          <div class="ui-block-text-social">
            <p>Social Media </p>
            <span>Social Media</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>