@font-face {
    font-family: 'preetinormal';
    src: url('preeti-webfont.woff2') format('woff2'),
         url('preeti-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nepaliNumber';
    src: url('Nepali.TTF');
    font-weight: normal;
    font-style: normal;

}