<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar class="site-title">
      <img src="assets/img/logo.png" />
      <ion-title>अर्जुनधारा नगरपालिका  </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <div class="menu-icon">
          <ion-icon [name]="p.iname"></ion-icon>
          <span>{{p.title}}</span>
        </div>
      </button>
    </ion-list>
    <hr>
    <ion-list>
      <button menuClose ion-item *ngFor="let bp of bottomPages" (click)="openPage(bp)">
        <div class="menu-icon">
          <ion-icon color="success" [name]="bp.iname"></ion-icon>
          <span>{{bp.title}}</span>
        </div>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>