
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.site-title{
    text-align: center;
    padding: 10% 0% 10% 0%;
    .title{
        font-size: 1.2em!important;
        font-weight: bold;
    }
}

.toolbar{
    .toolbar-background{
        background-color: color($colors, site-color-blue);
    }
    .title{
        .toolbar-title-md, .toolbar-title-ios{
            color: #ffffff!important;
            font-size: 1.1em!important;
        }
    }
    .icon {
        color:#ffffff;
    }
}
.menu-icon{
    font-size: 2rem;
    color: #828385;
    span{
        padding-left: 15px;
        font-size: 1.3rem;
        color: rgb(92, 91, 91);
    }
}
// for bootstrap form start
.container{
    padding: 5px;
    .form-fieldset{
        font-size: 1.3rem;
        color: #3b5998;
        text-align: center!important;
    }
    hr{
        background-color: rgb(155, 180, 232);
    }
    .form-group {
        margin-bottom: 15px;
        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            // font-weight: 700;
        }
        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            &:focus{
                outline: 0;
                border-color: #3b5998;
            }
        }
        textarea.form-control {
            height: auto;
        }
    }
}
// form style ends

// Success Toast
.success-toast{
    .toast-bottom{
        background: #3b5998!important;
    }
}
.error-toast{
    .toast-bottom{
        background: #a94442!important;
    }
}
.toast-no-connection .toast-message {
    color: #eae8f3!important;
}
.toast-no-connection .toast-wrapper {
    background: rgb(0, 84, 166)!important;
}
.toast-no-connection-red .toast-message {
    color: #eae8f3!important;
}
.toast-no-connection-red .toast-wrapper {
    background: color($colors,'site-color-red')!important;
}

