<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>नयाँ व्यवसाय दर्ता</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="container">
    <form [formGroup]="gunasoForm">
      <div class="form-fieldset">
        <b>निवेदकको प्रायोजनका लागि</b>
      </div>
      <hr>
      <div class="form-group">
        <label for="firmNameNepali">फर्मको नाम (नेपालीमा) *:</label>
        <input type="text" class="form-control" style="font-family:'preetinormal'; font-size: 18px;" formControlName="firmNameNepali" id="firmNameNepali" name="firmNameNepali">
      </div>
      <div class="form-group">
        <label for="firmNameEnglish">फर्मको नाम (अंग्रेजीमा) *:</label>
        <input type="text" class="form-control" formControlName="firmNameEnglish" id="firmNameEnglish" name="firmNameEnglish">
      </div>
      <div class="form-group">
        <label for="ownerNameNepali">व्यवसायीको नाम,थर (नेपालीमा) *:</label>
        <input type="text" class="form-control" style="font-family:'preetinormal';font-size: 18px;" formControlName="ownerNameNepali" id="ownerNameNepali" name="ownerNameNepali">
      </div>
      <div class="form-group">
        <label for="ownerNameEnglish">व्यवसायीको नाम,थर (अंग्रेजीमा) *:</label>
        <input type="text" class="form-control" formControlName="ownerNameEnglish" id="ownerNameEnglish" name="ownerNameEnglish">
      </div>
      <div class="form-group">
        <label for="fatherNameNepali">बुबा /पतिको नाम (नेपालीमा) *:</label>
        <input type="text" class="form-control" style="font-family:'preetinormal';font-size: 18px;" formControlName="fatherNameNepali" id="fatherNameNepali" name="fatherNameNepali">
      </div>
      <div class="form-group">
        <label for="fatherNameEnglish">बुबा /पतिको नाम (अंग्रेजीमा) *:</label>
        <input type="text" class="form-control" formControlName="fatherNameEnglish" id="fatherNameEnglish" name="fatherNameEnglish">
      </div>
      <div class="form-group">
        <label for="grandFatherNameNepali">हजुरबुबा / ससुराको नाम (नेपालीमा) *:</label>
        <input type="text" class="form-control" style="font-family:'preetinormal';font-size: 18px;" formControlName="grandFatherNameNepali" id="grandFatherNameNepali" name="grandFatherNameNepali">
      </div>
      <div class="form-group">
        <label for="grandFatherNameEnglish">हजुरबुबा / ससुराको नाम (अंग्रेजीमा) *:</label>
        <input type="text" class="form-control" formControlName="grandFatherNameEnglish" id="grandFatherNameEnglish" name="grandFatherNameEnglish">
      </div>
      <div class="form-group">
        <label for="hWardNepali">घर भएको वडा नं  (नेपालीमा):</label>
        <ng-select [allowClear]="true" [items]="houseWardNepali" (selected)="takeHouseWardNepali($event)" placeholder=" वडा नं छान्नुहोस् &nbsp;&nbsp;">
        </ng-select>
      </div>
      <div class="form-group">
        <label for="hStreetNameNepali">घर भएको सडकको नाम (नेपालीमा):</label>
        <input type="text" class="form-control" style="font-family:'preetinormal';font-size: 18px!important;" formControlName="hStreetNameNepali" id="hStreetNameNepali" name="hStreetNameNepali">
      </div>
      <div class="form-group">
        <label for="hHouseNoNepali">घर नं(नेपालीमा):</label>
        <input type="number" class="form-control" style="font-family:'nepaliNumber';" formControlName="hHouseNoNepali" id="hHouseNoNepali" name="hHouseNoNepali">
      </div>
      <div class="form-group">
        <label for="hWardEnglish">घर भएको वडा नं (अंग्रेजीमा):</label>
        <ng-select [allowClear]="true" [items]="houseWardEnglish" (selected)="takeHouseWardEnglish($event)" placeholder="Select Ward &nbsp;&nbsp;">
        </ng-select>
      </div>
      <div class="form-group">
        <label for="hStreetNameEnglish">घर भएको सडकको नाम(अंग्रेजीमा):</label>
        <input type="text" class="form-control"  formControlName="hStreetNameEnglish" id="hStreetNameEnglish" name="hStreetNameEnglish">
      </div>
      <div class="form-group">
        <label for="hHouseNoEnglish">घर नं(अंग्रेजीमा):</label>
        <input type="number" class="form-control" formControlName="hHouseNoEnglish" id="hHouseNoEnglish" name="hHouseNoEnglish">
      </div>
      <!-- <div class="form-group">
        <label for="tradeCategoryId">व्यवसाय वर्गको कोड *:</label>
        <ng-select [allowClear]="true" [items]="tradeCategoryIdArray" (selected)="takeTradeCategoryIdArray($event)" placeholder="व्यवसाय वर्ग छान्नुहोस् &nbsp;&nbsp;">
        </ng-select>
      </div>
      <div class="form-group">
        <label for="tradeSubjectId">व्यवसाय किसिम *:</label>
        <ng-select [allowClear]="true" [items]="tradeSubjectIdArray" (selected)="takeTradeSubjectIdArray($event)" placeholder="व्यवसाय किसिम छान्नुहोस् &nbsp;&nbsp;">
        </ng-select>
      </div>
      <div class="form-group">
        <label for="tradeRateId">व्यवसाय राजस्व विवरण *:</label>
        <ng-select [allowClear]="true" [items]="tradeRateIdArray" (selected)="takeTradeRateIdArray($event)" placeholder="व्यवसाय राजस्व विवरण छान्नुहोस् &nbsp;&nbsp;">
        </ng-select>
      </div> -->
      <div class="form-fieldset" style="text-align:left!important;">व्यवसायमा लागने पूँजी: </div>
      <div class="form-group">
        <label for="currentCapital">क) चालु पूँजी:</label>
        <input type="number" class="form-control" formControlName="currentCapital" id="currentCapital" name="currentCapital">
      </div>
      <div class="form-group">
        <label for="steadyCapital">ख) स्थिर पूँजी:</label>
        <input type="number" class="form-control" formControlName="steadyCapital" id="steadyCapital" name="steadyCapital">
      </div>
      <div class="form-group">
        <ion-list radio-group formControlName="houseInRent" (ionChange)="CheckChange(gunasoForm.value['houseInRent'])">

          <ion-list-header>
            भाडामा घर:
          </ion-list-header>

          <ion-item>
            <ion-label>हो</ion-label>
            <ion-radio value="yes"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>होइन</ion-label>
            <ion-radio value="no" checked></ion-radio>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="homeInRenet">
        <div class="form-fieldset" style="text-align:left!important;">भाडामा घर लिई व्यवसाय संचालन गरेको भए: </div>
        <div class="form-group">
          <label for="houseOwnerNepali">क) घर धनीको नाम (नेपालीमा):</label>
          <input type="text" class="form-control" style="font-family:'preetinormal';font-size: 18px;" formControlName="houseOwnerNepali" id="houseOwnerNepali" name="houseOwnerNepali">
        </div>
        <div class="form-group">
          <label for="houseOwnerEnglish">क) घर धनीको नाम (अंग्रेजीमा):</label>
          <input type="text" class="form-control" formControlName="houseOwnerEnglish" id="houseOwnerEnglish" name="houseOwnerEnglish">
        </div>
        <div class="form-group">
          <label for="monthlyRent">ख) मासिक भाडा रु:</label>
          <input type="number" class="form-control" formControlName="monthlyRent" id="monthlyRent" name="monthlyRent">
        </div>
        <div class="form-group">
          <label for="houseAddressNepali">ग) ठेगाना (आन्यत्र भएको भए - नेपालीमा):</label>
          <input type="text" class="form-control" style="font-family:'preetinormal';font-size: 18px;" formControlName="houseAddressNepali" id="houseAddressNepali" name="houseAddressNepali">
        </div>
        <div class="form-group">
          <label for="houseAddressEnglish">ग) ठेगाना (आन्यत्र भएको भए -अंग्रेजीमा):</label>
          <input type="text" class="form-control" formControlName="houseAddressEnglish" id="houseAddressEnglish" name="houseAddressEnglish">
        </div>
      </div>
      <div class="form-fieldset" style="text-align:left!important;">साइन बोर्डको: </div>
      <div class="form-group">
        <label for="sLength">लम्बाई (फीट ):</label>
        <input type="number" class="form-control" formControlName="sLength" id="sLength" name="sLength">
      </div>
      <div class="form-group">
        <label for="sBreadth">चौडाई (फीट):</label>
        <input type="number" class="form-control" formControlName="sBreadth" id="sBreadth" name="sBreadth">
      </div>
      <div class="form-group">
        <label for="sType">किसिम :</label>
        <input type="text" class="form-control" formControlName="sType" id="sType" name="sType">
      </div>
      <div class="form-fieldset">
        <b>निवेदकको विवरण</b>
      </div>
      <hr>
      <div class="form-group">
        <label for="applicantName">निवेदेकको नाम:</label>
        <input type="text" class="form-control" formControlName="applicantName" id="applicantName" name="applicantName">
      </div>
      <div class="form-group">
        <label for="applicantCitizenshipNo">नागरिकताको प्र. प. नं.:</label>
        <input type="number" class="form-control" formControlName="applicantCitizenshipNo" id="applicantCitizenshipNo" name="applicantCitizenshipNo">
      </div>
      <div class="form-group">
        <label for="applicantCitizenshipDistrict">नागरिकता लिएको जिल्ला:</label>
        <input type="text" class="form-control" formControlName="applicantCitizenshipDistrict" id="applicantCitizenshipDistrict"
          name="applicantCitizenshipDistrict">
      </div>
      <div class="form-group">
        <label for="applicantCitizenshipDate">मिती:</label>
        <input type="text" class="form-control" formControlName="applicantCitizenshipDate" id="applicantCitizenshipDate" minlength="10"
          pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
          maxlength="10" name="applicantCitizenshipDate">
      </div>
      <div class="form-group">
        <label for="applicantAddress">ठेगाना:</label>
        <input type="text" class="form-control" formControlName="applicantAddress" id="applicantAddress" name="applicantAddress">
      </div>
      <div class="form-group">
        <label for="applicantWard">वडा नं:</label>
        <input type="number" class="form-control" formControlName="applicantWard" id="applicantWard" name="applicantWard">
      </div>
      <div class="form-group">
        <label for="applicantStreetName">सडकको नाम:</label>
        <input type="text" class="form-control" formControlName="applicantStreetName" id="applicantStreetName" name="applicantStreetName">
      </div>
      <div class="form-group">
        <label for="applicantHouseNo">घर नं:</label>
        <input type="number" class="form-control" formControlName="applicantHouseNo" id="applicantHouseNo" name="applicantHouseNo">
      </div>
      <div class="form-group">
        <label for="applicantPhoneNo">फोन नं:</label>
        <input type="number" class="form-control" formControlName="applicantPhoneNo" id="applicantPhoneNo" name="applicantPhoneNo">
      </div>
      <div class="form-group">
        <label for="applicantMobileNo">मोबाइल नं:</label>
        <input type="number" class="form-control" formControlName="applicantMobileNo" id="applicantMobileNo" name="applicantMobileNo">
      </div>
      <div class="form-group">
        <label for="attachment">कागजातहरू:</label>
        <!-- <button ion-button (click)="takePictureCamera()">
          <ion-icon name="camera"></ion-icon>
        </button>
        <button ion-button (click)="takePicture()">
          <ion-icon name="images"></ion-icon>
        </button> -->
        <input type="file" (change)=fileEventS($event) multiple>
        <br/>
        <span *ngIf="base64Image"> Selected File:</span>
        <img [src]="base64Image" *ngIf="base64Image" />
      </div>
      <div class="form-group">
        <label for="sType">कैफियत:</label>
         <!--
        <input type="checkbox" formControlName="remarkCheck" (Change)="CheckRemarkChange(gunasoForm.value['remarkCheck'])" id="remark" /> यहाँ चिन्ह लगाएर सबै विवरण ठिक/साँचो रहेको पुष्टि गर्नुहोस् | -->
        <ion-list>
          <ion-item text-wrap>
            <ion-label>यहाँ चिन्ह लगाएर सबै विवरण ठिक/साँचो रहेको पुष्टि गर्नुहोस् |</ion-label>
            <ion-checkbox formControlName="remarkCheck" (ionChange)="CheckRemarkChange(gunasoForm.value['remarkCheck'])"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="3" formControlName="remarks" name="remarks" id="remarks"></textarea>
      </div>
      <div text-center *ngIf="loading">
        <ion-spinner name="ios"></ion-spinner>
      </div>
      <button ion-button full [disabled]="!gunasoForm.valid || !isRemarkChecked" (click)="logForm(gunasoForm.value)">दर्ता गर्नुहोस्</button>
    </form>
  </div>
</ion-content>
