<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Notices</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <div text-center *ngIf="loading">
      <ion-spinner name="ios"></ion-spinner>
    </div>
    <ion-list *ngIf="notice_list">
      <a ion-item text-wrap *ngFor="let notice of notices" (click)="ViewNoticeDetails(notice)">
        <ion-thumbnail item-start>
          <img [src]="'assets/img/logo.png'">
        </ion-thumbnail>
        <h2>
          {{notice.title}}
        </h2>
      </a>
    </ion-list>
  
    <div ion-list *ngIf="!notice_list">
      <div ion-item class="no-data">
        Notices are not available!!
      </div>
    </div>
  </ion-content>