page-saved-trade {
    hr{
        background-color: rgb(155, 180, 232)!important;
    }
    .trade_details{
        padding: 10px;
        .header{
            color: #272727;
            margin-bottom: 15px;
            h1{
                font-weight: bold;
                font-size: 2rem;
                line-height: 4rem;
            }
        }
        p{
            font-size: 1.2rem;
        }
        .clear-button{
            margin-top: 20px;
        }
}
.table-item{
    .item{
        padding-left: 8px;
        .item-inner{
            padding-right: 0px;
        }
    }
    .ionic-grid {
        width: 100%;
        margin: 0px;
        padding: 0px;
        ion-row{
            ion-col{
                font-size: 1rem; 
    
            }
        }
        .row-header{
            background: #3b5998;
            color: #fff;
            .col{
                border-right: 1px solid #7a91c0;
                &:first-child{
                    border-left: 1px solid #7a91c0;
                }
            }
        }
    
    
    
        .row-data{
            .col{
                border-right: 1px solid #96acda;
                &:first-child{
                    border-left: 1px solid #96acda;
                }
            }
            &:nth-child(odd){
                background:#efefef;
            }
            &:nth-child(even){
                background:#fff;
            }
        }
    }
}
}
