<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FAQ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list padding>
    <div *ngFor="let faq of FAQs">
        <b>{{faq.id}}.&nbsp;{{faq.title}}</b>
        <p>{{faq.description}}</p>
    </div>
  </ion-list>
</ion-content>