page-business-management-system {
    .content{
        background: #dddddd;
    } 
    .padding-10{
        padding:10px; 
    }
    ion-spinner * {
      width: 28px;
      height: 28px;
      stroke: #444;
      fill: #222;
    }
    .ui-block{
        border:none!important;
        .ui-block-inner{
            background: #ffffff;
            text-align: center;
            box-shadow: 0px 0px 2px 0px #8c8c8c;
            border-radius: 3px;
            padding: 2.4rem 0;
            &:hover{
                box-shadow: 0px 0px 8px 0px #777777;
            }
            .ui-block-icon{
                font-size: 4rem;
                color: #3b5998;
            }
            .ui-block-text{
                color: #333;
                p{
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
                span{
                    font-size: 0.9rem;
                    color: rgb(92, 91, 91);
                }
            }
            .ui-block-text-social{
                margin-top: 13px;
                color: #333;
                p{
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
                span{
                    font-size: 0.9rem;
                    color: rgb(92, 91, 91);
                }
            }
            .social-icon{
                   .fab{
                    color: #ffffff;
                    font-size: 1rem;
                    font-weight: bold;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    background-color: #3b5998!important;
                   }
            }
        } 
    }
    .card{
        margin-top: 0px!important;
        .social-icon{
            font-size: 1.6rem;
            color: #3b5998;
            display: block;
            text-align: center;
            .fab{
                display: inline-block!important;
                background-color: #3b5998;
                width: 40px!important;
                height: 40px!important;
            }
        }
        
    }
}
