<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Business Management System</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="ui-block">
          <div class="ui-block-inner" (click)="newBusinessRegistration()">
            <div class="ui-block-icon">
              <ion-icon name="paper"></ion-icon>
            </div>
            <div class="ui-block-text">
              <p>नयाँ व्यवसाय दर्ता </p>
              <span>नयाँ व्यवसाय दर्ता गर्नुहोस्</span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6 class="ui-block">
          <div class="ui-block-inner" (click)="businessStatus()">
            <div class="ui-block-icon">
              <ion-icon name="search"></ion-icon>
            </div>
            <div class="ui-block-text">
              <p> व्यवसायको स्थिति </p>
              <span>व्यवसायको स्थिति</span>
            </div>
          </div>
        </ion-col>
  
        <ion-col col-6 class="ui-block">
          <div class="ui-block-inner" (click)="savedBusiness()">
            <div class="ui-block-icon">
              <ion-icon name="bookmark"></ion-icon>
            </div>
            <div class="ui-block-text">
              <p>संचित व्यवसाय </p>
              <span>संचित व्यवसाय</span>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>