<ion-header>

  <ion-navbar>
    <ion-title>
        Notice Details
    </ion-title>
    <ion-buttons end>
        <button ion-button (click)="closeNoticeModal()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <div text-justify>
        <h4>{{notice.title}}</h4>
        <p [innerHTML]="notice.description">
        </p>
    </div>
  </ion-list>
</ion-content>
