<ion-header>
  
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>कार्यालय प्रयोग</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
  </ion-content>